{block content}

	<div class="row">
		<h2 class="col-xs-12">Zhodnotenie zisku spoločnosti</h2>
	</div>

	<div class="row">
		<div class="col-xs-12">
			{control companyUsersForm}
		</div>
	</div>


{/block}

