.m-b-xxs {
	margin-bottom: 5px;
}

.m-b-xs {
	margin-bottom: 7px;
}

.m-b-sm {
	margin-bottom: 14px;
}

.m-b-md {
	margin-bottom: 20px;
}

.m-b-lg {
	margin-bottom: 30px;
}

.w-45-p, .w-45-p {
	width: 45%;
}

.alert {
	margin-bottom: 15px;
}
